* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: right top;
  background-blend-mode: darken;
  display: flex;
  flex-direction: column;
  background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(255,254,254,1) 49%, rgba(0,0,0,1) 100%);
}


#conteudo{
  width: 400px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #000000;
  text-align: center;
  align-items: center;

}

#titulo{
  width: inherit;
  height: 80px;
  background-color: #000000;
  color: #ffffff;
  box-sizing: border-box;
  padding-top: 25px;
  font-size: 26px;
  font-family: verdana;
  word-spacing: 5px;
  letter-spacing: 3px;
}

#form{
  width: inherit;
  height: 185px;
  padding-top: 20px;
  box-sizing: border-box;
  color: #ffffff;
}

input{
  margin-bottom: 10px;
  margin-left: 10px;
}

#resultado{
  width: inherit;
  height: 35px;
  background-color: cornflowerblue;
  box-sizing: border-box;
  padding-top: 2px;
  font-family: cursive;
  font-size: 20px;
  font-weight: bold;
}

#botaoReset{
  width: 100px;
  height: 30px;
  background-color: firebrick;
  color: #ffffff;
  font-size: 0.9em;
  text-align: center;
  padding-top: 5px;
  box-sizing: border-box;
  margin-top: -30px;
  margin-left: 20px;
}

#botaoReset a{
  color: #ffffff;
  text-decoration: none;
}

.msgErro{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  color: #ff0000;
  font-weight: bold;
  text-align: center;
}